{% extends "aaa_base/base2_child1_signed_in_yes_navbar_and_footer.html" %}

<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>Dashboard - ChangeFunders</title>
  <meta name="description" content="work in progress...">
  <meta name="og:description" content="work in progress...">
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-mt-4"></div>
<div class="container text-center custom-max-width-6 shadow-lg custom-border-radius-1 custom-pa-4 custom-bg-yellow-1">
  <p>Thank you for signing up, changefunders will be available early 2023.</p>
</div>
<div class="custom-mt-5"></div>
{% endblock %}
<!-- ------------------------------------- content end ------------------------------------- -->