{% extends "aaa_base/base.html" %}
<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>base2_child1_not_signed_in_yes_navbar_and_footer.html</title>
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->

{% block contentBody %}
<!-- ------------------------------------- navbar start ------------------------------------- -->
<div class="container">
  <nav class="navbar navbar-expand-md navbar-light">
    <a href="/" class="navbar-brand">
      <!-- <img src="/static/images/logo/deltachange.png" alt="logo" width="30" height="24" class="d-inline-block align-top"> -->
      <!-- <span class="visual-hidden">changefunders</span> -->
      <span class="text-decoration-underline">change</span><span class="text-decoration-none fw-bold">funders</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="navbar-nav ms-auto text-center">
        <li><a href="#" class="nav-link">Resources</a></li>
        <li><a href="#" class="nav-link">Login</a></li>
        <li><a href="/signup" class="nav-link btn btn-primary text-black fw-bold">Get started</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- ------------------------------------- navbar end ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
{% endblock %}
<!-- ------------------------------------- footer start ------------------------------------- -->
<!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}