{% extends "aaa_base/base.html" %}
<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>base2_child1_not_signed_in_yes_navbar_and_footer.html</title>
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->

{% block contentBody %}
<!-- ------------------------------------- navbar start ------------------------------------- -->
<div class="container border1">
  test
</div>
<!-- ------------------------------------- navbar end ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
{% endblock %}
<!-- ------------------------------------- footer start ------------------------------------- -->
<!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}