<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ------------------------------------- title start ------------------------------------- -->
    {% block title %}base.html{% endblock %}
    <!-- ------------------------------------- title end ------------------------------------- -->
    <!-- ------------------------------------- basic start ------------------------------------- -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://changefunders.org/">
    <!-- ------------------------------------- basic end ------------------------------------- -->
  </head>
  <body>
    <!-- ------------------------------------- actual new dependent page start ------------------------------------- -->
    {% block contentBody %}
    {% endblock %}
    <!-- ------------------------------------- actual new dependent page end ------------------------------------- -->
  </body>
</html>