{% extends "aaa_base/base.html" %}
<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>base2_child1_not_signed_in_yes_navbar_and_footer.html</title>
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->

{% block contentBody %}
<!-- ------------------------------------- navbar start ------------------------------------- -->
<div class="container-fluid custom-bg-white fixed-top shadow-sm">
  <nav class="container navbar navbar-expand-md navbar-light">
    <a href="/" class="navbar-brand">
      <span class="text-decoration-underline">change</span><span class="text-decoration-none fw-bold">funders</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="navbar-nav ms-auto text-center">
        <li><a href="#" class="nav-link mx-2">Resources</a></li>
        <li><a href="/login" class="nav-link mx-2">Dashboard</a></li>
        <li><a class="nav-link btn btn-primary text-black fw-bold mx-2" href="/signup" role="button">Get started</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- ------------------------------------- navbar end ------------------------------------- -->
<!-- ------------------------------------- navbar filler start ------------------------------------- -->
<div class="custom-height-navbar-1"></div>
<!-- ------------------------------------- navbar filler end ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
{% endblock %}
<!-- ------------------------------------- footer start ------------------------------------- -->
<div class="containter-fluid custom-footer-background">
  <div class="custom-shape-divider-top-1670803691">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
    </svg>
  </div>
  <footer class="container">
    <div class="text-center">
      <h1 class="custom-footer-h1-1">Resources</h1>
    </div>
    <div class="custom-footer-all-links-1">
      <section>
        <ul class="cutom-footer-ul-1">
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">About</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Blog</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Contact</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Donator button</a></li>
        </ul>
      </section>
      <section>
        <ul class="cutom-footer-ul-1">
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">FAQ</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">How it works</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Nonprofit</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Newsletter</a></li>
        </ul>
      </section>
      <section>
        <ul class="cutom-footer-ul-1">
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Privacy statement</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Reliability</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Subscription</a></li>
          <li class="cutom-footer-li-1"><a href="#" class="custom-footer-a-1">Terms of service</a></li>
        </ul>
      </section>
    </div>
    <div class="custom-footer-lower-1">
      <p>2022 Nonprofit | ChangeFunders</p>
      <p>contact@changefunders.org</p>
      <div class="custom-footer-social-media-icons-1">
        <a href="#"><img src="/static/images/social_media/facebook.png" alt="facebook icon" class="custom-footer-icon-1"></a>
        <a href="#"><img src="/static/images/social_media/instagram.png" alt="instagram icon" class="custom-footer-icon-1"></a>
        <a href="#"><img src="/static/images/social_media/linkedin.png" alt="linkedin icon" class="custom-footer-icon-1"></a>
        <a href="#"><img src="/static/images/social_media/tiktok.png" alt="tiktok icon" class="custom-footer-icon-1"></a>
        <a href="#"><img src="/static/images/social_media/twitter.png" alt="twitter icon" class="custom-footer-icon-1"></a>
      </div>
    </div>
  </footer>
</div>
<!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}