/* ------------------------------------- backgrounds start ------------------------------------- */
.custom-bg-yellow-1 {
  background-color: #fef2da;
}
.custom-bg-colorful-1 {
  background: linear-gradient(145deg, rgb(255 224 224)0%, rgb(255 254 221)25%, rgb(240 255 238)50%, rgb(233 209 255)100%);
}
.custom-bg-grey-1 {
  background-color: rgb(250, 250, 250);
}
.custom-bg-white {
  background-color: rgb(255, 255, 255);
}
.custom-bg-black {
  background-color: rgb(0, 0, 0);
}
.custom-bg-red-1 {
  background-color: rgb(254 219 219);
}
.custom-bg-green-1 {
  background-color: rgb(219, 254, 220);
}
/* ------------------------------------- backgrounds end ------------------------------------- */
/* ------------------------------------- borders start ------------------------------------- */
.custom-border-black {border: 1px solid black;}
.custom-border-blue {border: 1px solid blue;}
.custom-border-red {border: 1px solid red;}
.custom-border-green {border: 1px solid green;}
.custom-border-purple {border: 1px solid purple;}
.custom-border-orange {border: 1px solid orange;}
.custom-border-radius-1 {
  border-radius: 50px;
}
/* ------------------------------------- borders end ------------------------------------- */
/* ------------------------------------- colors start ------------------------------------- */
:root {
  --custom-grey-1: rgb(120, 120, 120);
}
/* ------------------------------------- colors end ------------------------------------- */
/* ------------------------------------- forms start ------------------------------------- */
.form-custom-width-1 {
  max-width: 600px;
}
/* ------------------------------------- forms end ------------------------------------- */
/* ------------------------------------- font start ------------------------------------- */
.custom-font-grey-1 {
  color: var(--custom-grey-1);
}
/* ------------------------------------- font end ------------------------------------- */
/* ------------------------------------- footer start ------------------------------------- */
.custom-footer-background {
  background-color: rgb(36, 36, 36);
}
.custom-footer-h1-1 {
  color: rgb(185, 185, 185);
}
.custom-footer-all-links-1 {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 0 0;
  flex-wrap: wrap;
}
.custom-footer-lower-1 {
  /* border: 1px solid white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 175px 0 50px 0;
  color: var(--custom-grey-1);
}
.cutom-footer-ul-1 {
  list-style: none;
}
.cutom-footer-li-1 {
  padding: 10px 0;
}
.custom-footer-a-1, .custom-footer-a-1:visited {
  color: var(--custom-grey-1);
  text-decoration: none;
}
.custom-footer-a-1:hover {
  color: var(--bs-primary);
  text-decoration: underline;
  transition: 0.5s;
}
.custom-shape-divider-top-1670803691 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-top-1670803691 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 199px;
}
.custom-shape-divider-top-1670803691 .shape-fill {
  fill: #FFFFFF;
}
.custom-footer-social-media-icons-1 {
  flex-wrap: wrap;
}
.custom-footer-icon-1 {
  height: 25px;
  max-width: 25px;
  margin: 0 5px;
}
/* ------------------------------------- footer end ------------------------------------- */
/* ------------------------------------- header/subheader start ------------------------------------- */
.custom-header-1 {
  font-size: 50px;
}
.custom-header-2 {
  font-size: 35px;
}
.custom-subheader-1 {
  font-size: 20px;
}
/* ------------------------------------- header/subheader end ------------------------------------- */
/* ------------------------------------- height start ------------------------------------- */
.custom-height-filler-1 {
  height: 300px;
}
/* ------------------------------------- height end ------------------------------------- */
/* ------------------------------------- images start ------------------------------------- */
.custom-img-index-1 {
  z-index: 1;
}
.custom-img-index-2 {
  z-index: 2;
}
.custom-img-opacity-1 {
  opacity: 0.7;
}
.custom-img-position-1 {
  position: absolute;
  top: 360px;
  left: 50%; 
  transform: translate(-50%, -50%);
}
.custom-img-position-2 {
  position: relative;
}
.custom-img-position-3 {
  position: absolute;
  top: 70px;
  right: 5%;
  max-width: 50%;
}
.custom-img-position-4 {
  position: absolute;
  max-width: 90%;
  z-index: 1;
}
.custom-img-size-1 {
  width: 600px;
  max-width: 100%;
}
.custom-img-size-2 {
  width: 500px;
  max-width: 100%;
}
/* ------------------------------------- images end ------------------------------------- */
/* ------------------------------------- index start ------------------------------------- */
.custom-index-2 {
  z-index: 2;
}
/* ------------------------------------- index end ------------------------------------- */
/* ------------------------------------- margins start ------------------------------------- */
.custom-mx-1 {
  margin: 0 200px;
}
.custom-mt-1 {
  margin: 50px 0 0 0;
}
.custom-my-1 {
  margin: 25px 0;
}
/* ------------------------------------- margins end ------------------------------------- */
/* ------------------------------------- navbar start ------------------------------------- */
.visual-hidden {
  display: none;
}
.nav-link {
  color: rgba(164, 164, 164, 0.6);
}
.nav-link:hover {
  color: black;
  transition: 0.5s;
}
.custom-height-navbar-1 {
  height: 58px;
}
/* ------------------------------------- navbar end ------------------------------------- */
/* ------------------------------------- padding start ------------------------------------- */
.custom-pt-1 {
  padding: 100px 0 0 0;
}
.custom-pt-2 {
  padding: 50px 0 0 0;
}
.custom-bt-2 {
  padding: 0 0 25px 0;
}
.custom-py-1 {
  padding: 50px 0;
}
/* ------------------------------------- padding end ------------------------------------- */
/* ------------------------------------- position start ------------------------------------- */
.custom-position-relative {
  position: relative;
}
/* ------------------------------------- position end ------------------------------------- */
/* ------------------------------------- rounding start ------------------------------------- */
.custom-border-radius-1 {
  border-radius: 25px;
}
/* ------------------------------------- rounding end ------------------------------------- */
/* ------------------------------------- shape divider start ------------------------------------- */
.custom-shape-divider-bottom-1670898795 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1670898795 svg {
  position: relative;
  display: block;
  width: calc(159% + 1.3px);
  height: 219px;
}
.custom-shape-divider-bottom-1670898795 .shape-fill {
  /* fill: #FFFFFF; */
  fill: rgb(254 219 219);
}
/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1670898795 svg {
      width: calc(150% + 1.3px);
      height: 100px;
  }
}

.custom-shape-divider-bottom-1670899178 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  /* overflow: hidden; */
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1670899178 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 250px;
}
.custom-shape-divider-bottom-1670899178 .shape-fill {
  /* fill: #FFFFFF; */
  fill: rgb(219, 254, 220);
}
/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1670899178 svg {
      width: calc(300% + 1.3px);
      height: 150px;
  }
}

.custom-shape-divider-bottom-1670932652 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1670932652 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 99px;
}
.custom-shape-divider-bottom-1670932652 .shape-fill {
  fill: #FFFFFF;
}
/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1670932652 svg {
      width: calc(150% + 1.3px);
      height: 99px;
  }
}
/* ------------------------------------- shape divider end ------------------------------------- */
/* ------------------------------------- text start ------------------------------------- */
.custom-text-center-1 {
  text-align: center;
  align-items: center;
}
.custom-text-decoration-1 {
  /* border: 1px solid black; */
  width: 600px;
  max-width: 95%;
  margin: 50px auto;
  padding: 25px;
  border-radius: 50px;
  background-color: #fef2da;
}
.custom-text-decoration-2 {
  /* border: 1px solid black; */
  width: 600px;
  max-width: 95%;
  margin: 50px auto;
}
/* ------------------------------------- text end ------------------------------------- */
/* ------------------------------------- width start ------------------------------------- */
.custom-max-width-2 {
  max-width: 90%;
}
/* ------------------------------------- width end ------------------------------------- */