.visual-hidden {
  display: none;
}
.nav-link {
  color: rgba(164, 164, 164, 0.6);
}
.nav-link:hover {
  /* color: var(--bs-primary); */
  color: black;
  transition: 0.5s;
}
.border-black {
  border: 1px solid black;
}
.border-blue {
  border: 1px solid blue;
}
.border-red {
  border: 1px solid red;
}
.border-green {
  border: 1px solid green;
}
.border-purple {
  border: 1px solid purple;
}
.border-orange {
  border: 1px solid orange;
}