{% extends "aaa_base/base2_child1_not_signed_in_yes_navbar_and_footer.html" %}

<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>About - ChangeFunders</title>
  <meta name="description" content="work in progress...">
  <meta name="og:description" content="work in progress...">
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
<div class="container-fluid custom-pt-1">
  
  <div class="container text-center custom-pb-3">
    <h1 class="custom-header-1">About</h1>
  </div>

  <div class="container">
    <div class="custom-pb-3 custom-max-width-4 mx-auto">
      <h2 class="fw-bold custom-subheader-1 text-center">Social change today</h2>
      <p><span class="custom-ml-1">We</span> live in a time where criticism and outrage are looked at as virtuous and morally superior qualities in a person. Simply post your complaints on your preferred social media platform and you will be looked at as a hero in your community. People really believe that if they complain loud enough to be trending on social media then the complaints themselves will bring about societal change. This is shallow surface level thinking at best.</p>
      <p>Posting about social injustice will only get your cause so far, your words must be backed by real money in order to hold any real weight in this world. We’ve all heard the quote “be the change you want to see in the world” but at changefunders we believe you have to “fund the change you want to see in the world.”</p>
      <p>Changefunders is the leading donation subscription platform. At changefunders we believe that recurring + reliable monthly funds are the only way nonprofit organizations can plan for and execute lasting positive change in society.</p>
      <p>With changefunders you can donate to just about any nonprofit organization that you want. In return we create your verified donator link that you can post to social media to prove that you truly lead by example as well as a monthly newsletter to keep you up to date on the social change topics that you care about. <a href="/signup" class="custom-a-2 fw-bold">Donate</a> to the social cause you support today in less than 60 seconds!</p>
    </div>

    <div class="custom-quote-yellow-1 custom-quote-text-1 mx-auto custom-max-width-1">
      <p class="custom-p-3 fst-italic custom-m-0">At changefunders we believe you have to “fund the change you want to see in the world.”</p>
    </div>
    <div class="custom-pb-1"></div>
    
    <div class="custom-pb-3 custom-max-width-4 mx-auto">
      <h2 class="fw-bold custom-subheader-1 text-center">Donation subscription example: Prison industrial complex</h2>
      <p><span class="custom-ml-1">In</span> the United States the prison industry is increasingly viewed as modern day slavery that traps people into perpetual cycles of poverty and discrimination instead of attempting to rehabilitate and educate people back into functioning members of society. Organizations such as The Innocence Project, Reform Alliance, Vera Institute of Justice, and Families and Friends of the Wrongfully Convicted are just some of the organizations that are fighting to reform the prison industry, and help provide wrongfully convicted people with adequate resources to fight for their freedom.</p>
      <p>Fighting for freedom is not cheap. In order for these organizations to help free wrongfully convicted people they need money for lawyers, legal fines & fees, waivers, jail credits, bail, the legal costs go on and on. In order to cover these costs nonprofit organizations need to know that the money they are getting every month is reliable and that is where your changefunders donation subscription comes in to help the cause that you support.</p>
    </div>

    <div class="custom-quote-red-1 custom-quote-text-1 mx-auto custom-max-width-1">
      <p class="custom-p-3 fst-italic custom-m-0">Fighting for freedom is not cheap...and that is where your changefunders donation subscription comes in to help the cause that you support.</p>
    </div>
    <div class="custom-pb-1"></div>

    <div class="custom-pb-3 custom-max-width-4 mx-auto">
      <h2 class="fw-bold custom-subheader-1 text-center">Donation subscription example: Education</h2>
      <p><span class="custom-ml-1">The</span> public education programs in the United States are severely broken, with the country slipping in world rankings for academic outcomes and large disparities among student test scores. Many of the problems related to public education can be attributed to a lack of investment in infrastructure and inadequate resources for teachers and students. The U.S. continues to face issues with poverty, overcrowded classrooms, and a teacher shortage which all contribute to an inability to meet the needs of students. Low levels of funding and a lack of political will have only exacerbated these issues, leading to a situation where many students are unable to receive a quality education in the public school system.</p>
      <p>Nonprofit organizations such as City Year, Teach for America, The New Teacher Project are fighting to improve the quality of our country’s future leaders. These organizations can only make a true positive impact if they have recurring + reliable funds that can be used for hiring better teachers/counselors, acquiring more up to date resources/technology, and providing higher quality nutrition to the public school children of America. These improvements will not pay for themselves and government aid has proven to be of lower and lower quality over time. If you truly care about improving public education in the US then you have to lead by example and fund it yourself. Your donation subscription will inspire others.</p>
    </div>

    <div class="custom-quote-green-1 custom-quote-text-1 mx-auto custom-max-width-1">
      <p class="custom-p-3 fst-italic custom-m-0">Public government aid has proven to be of lower and lower quality over time. If you truly care about improving public education in the US then you have to lead by example and fund it yourself.</p>
    </div>
    <div class="custom-pb-1"></div>


    <div class="custom-pb-3 custom-max-width-4 mx-auto">
      <h2 class="fw-bold custom-subheader-1 text-center">Donation subscription example: Veterans</h2>
      <p><span class="custom-ml-1">The</span> current veteran support system in the United States is inadequate and often leaves veterans without needed assistance and resources. The number of homeless veterans is an alarming indicator of how broken the veteran support system is, proving that these men and women aren't getting the help they need. Mental health services for veterans are often limited due to a lack of proper funding and personnel dedicated to helping them cope with combat-related trauma. Additionally, many veterans struggle to access crucial benefits due to VA bureaucracy and red tape, making it extremely difficult to receive the assistance they deserve.</p>
      <p>The Wounded Warrior Project, Black Rifle Coffee Company Fund, Operation Homefront are just some of the organizations that are fighting to provide support to the brave men and women who served our country. Through changefunders you can help these organizations provide veterans with mental health resources as well as housing + health support. Your funding is an example of true leadership that provides veterans with the mental health and housing resources they need.</p>
    </div>

    <div class="custom-quote-blue-1 custom-quote-text-1 mx-auto custom-max-width-1">
      <p class="custom-p-3 fst-italic custom-m-0">Your funding is an example of true leadership.</p>
    </div>
    <div class="custom-pb-1"></div>

    <div class="custom-max-width-4 mx-auto">
      <h2 class="fw-bold custom-subheader-1 text-center">But don't my taxes already pay for this kind of stuff?</h2>
      <p><span class="custom-ml-1">At</span> changefunders we do not believe that the government is going to solve all of our problems. A lot of your tax dollars go into the very institutions that cause you such frustration. At changefunders we believe the only way the government will reform these institutions is if you fight back by funding the organizations that you believe in.</p>
    </div>
  </div>
</div>


<div class="container custom-pt-2">
  <div class="container custom-border-grey-1 custom-max-width-3"></div>
</div>

<div class="container text-center custom-pt-2">
  <p class="custom-header-2 custom-mb-1">Become a <span class="text-decoration-underline">change</span><span class="text-decoration-none fw-bold">funder</span> today.</p>
</div>
<div class="container text-center custom-pb-1">
  <form method="POST" enctype="multipart/form-data" class="form-custom-width-1 mx-auto p-5 border custom-border-radius-1 shadow-lg custom-bg-grey-1" action="{{ url_for('auth.signup_function') }}">
    <div class="mb-3">
      <label for="uiEmailVariousPages1" class="form-label">Email</label>
      <input type="email" class="form-control " id="uiEmailVariousPages1" name="uiEmailVariousPages1" value="{{ redirect_var_email }}" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Get started</button>
    </div>
  </form>
</div>

<div class="custom-height-filler-2"></div>
{% endblock %}
<!-- ------------------------------------- content end ------------------------------------- -->