{% extends "aaa_base/base2_child1_not_signed_in_yes_navbar_and_footer.html" %}

<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>Why donation subscription? - ChangeFunders</title>
  <meta name="description" content="work in progress...">
  <meta name="og:description" content="work in progress...">
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
<div class="container-fluid custom-pt-1">
  <div class="container text-center custom-pb-3">
    <h1 class="custom-header-1">Why donation subscription?</h1>
  </div>
  <div class="container">
    <div class="custom-pb-3 custom-max-width-4 mx-auto">
      <h2 class="fw-bold custom-subheader-1 text-center">Most donations today</h2>
      <p><span class="custom-ml-1">If</span> you have ever donated to a cause that you believe in odds are you were met with a checkout page that looks something like the ones below:</p>
      <div class="text-center custom-ptb-1">
        <img src="/static/images/blog/0001/feedingamerica.png" alt="feeding america checkout page" class="custom-img-size-2 custom-border-radius-1 shadow-lg">
        <p class="custom-mt-3 custom-subheader-2 custom-font-grey-1"><a href="https://www.feedingamerica.org/" class="custom-a-2" target="_blank">Feeding America</a>'s donation checkout page</p>
      </div>
      <div class="text-center custom-ptb-1">
        <img src="/static/images/blog/0001/innocence.png" alt="innocence project checkout page" class="custom-img-size-2 custom-border-radius-1 shadow-lg">
        <p class="custom-mt-3 custom-subheader-2 custom-font-grey-1"><a href="https://innocenceproject.org/" class="custom-a-2" target="_blank">Innocence Project</a>'s donation checkout page</p>
      </div>
      <div class="text-center custom-ptb-1">
        <img src="/static/images/blog/0001/aspca.png" alt="aspca checkout page" class="custom-img-size-2 custom-border-radius-1 shadow-lg">
        <p class="custom-mt-3 custom-subheader-2 custom-font-grey-1"><a href="https://www.aspca.org/" class="custom-a-2" target="_blank">ASPCA</a>'s donation checkout page</p>
      </div>

      <p>Posting about social injustice will only get your cause so far, your words must be backed by <span class="fst-italic">real</span> money in order to hold any <span class="fst-italic">real</span> weight in this world. We’ve all heard the quote “be the change you want to see in the world” but at changefunders we believe you have to “<span class="fst-italic">fund</span> the change you want to see in the world.”</p>
      <p>Changefunders is the leading donation subscription platform. At changefunders we believe that <span class="fst-italic">recurring + reliable</span> monthly funds are the only way nonprofit organizations can plan for and execute lasting positive change in society.</p>
      <p>With changefunders you can donate to just about any nonprofit organization that you want. In return we create your verified donator link that you can post to social media to prove that you truly lead by example as well as a monthly newsletter to keep you up to date on the social change topics that you care about. <a href="/signup" class="custom-a-2 fw-bold">Donate</a> to the social cause you support today in less than 60 seconds!</p>
    </div>
  </div>
</div>

<div class="container custom-pt-2">
  <div class="container custom-border-grey-1 custom-max-width-3"></div>
</div>

<div class="container text-center custom-pt-2">
  <p class="custom-header-2 custom-mb-1">Become a <span class="text-decoration-underline">change</span><span class="text-decoration-none fw-bold">funder</span> today.</p>
</div>
<div class="container text-center custom-pb-1">
  <form method="POST" enctype="multipart/form-data" class="form-custom-width-1 mx-auto p-5 border custom-border-radius-1 shadow-lg custom-bg-grey-1" action="{{ url_for('auth.signup_function') }}">
    <div class="mb-3">
      <label for="uiEmailVariousPages1" class="form-label">Email</label>
      <input type="email" class="form-control " id="uiEmailVariousPages1" name="uiEmailVariousPages1" value="{{ redirect_var_email }}" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Get started</button>
    </div>
  </form>
</div>

<div class="custom-height-filler-2"></div>
{% endblock %}
<!-- ------------------------------------- content end ------------------------------------- -->