{% extends "aaa_base/base2_child1_not_signed_in_yes_navbar_and_footer.html" %}

<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>Blog - ChangeFunders</title>
  <meta name="description" content="work in progress...">
  <meta name="og:description" content="work in progress...">
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
<div class="container-fluid custom-pt-1">
  
  <div class="container text-center custom-pb-3">
    <h1 class="custom-header-1">Blog</h1>
  </div>

  <div class="container d-flex flex-wrap">
    <!-- ------------------------------------- individual blog post start ------------------------------------- -->
    <div class="card mx-auto custom-width-card-1 custom-m-3">
      <a href="/blog/0001"><img src="/static/images/about/business_model.png" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title"><a href="/blog/0001" class="custom-a-3">Why donation subscription?</a></h5>
        <p class="card-text"><a href="/blog/0001" class="custom-a-3">If you have ever donated to a cause that you believe in odds are you were met with a checkout pag...</a></p>
        <a href="/blog/0001" class="btn btn-primary">View article</a>
      </div>
    </div>
    <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  </div>
</div>


<div class="container custom-pt-2">
  <div class="container custom-border-grey-1 custom-max-width-3"></div>
</div>

<div class="container text-center custom-pt-2">
  <p class="custom-header-2 custom-mb-1">Become a <span class="text-decoration-underline">change</span><span class="text-decoration-none fw-bold">funder</span> today.</p>
</div>
<div class="container text-center custom-pb-1">
  <form method="POST" enctype="multipart/form-data" class="form-custom-width-1 mx-auto p-5 border custom-border-radius-1 shadow-lg custom-bg-grey-1" action="{{ url_for('auth.signup_function') }}">
    <div class="mb-3">
      <label for="uiEmailVariousPages1" class="form-label">Email</label>
      <input type="email" class="form-control " id="uiEmailVariousPages1" name="uiEmailVariousPages1" value="{{ redirect_var_email }}" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Get started</button>
    </div>
  </form>
</div>

<div class="custom-height-filler-2"></div>
{% endblock %}
<!-- ------------------------------------- content end ------------------------------------- -->