{% extends "aaa_base/base2_child1_not_signed_in_yes_navbar_and_footer.html" %}

<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>Landing Page - ChangeFunders</title>
  <meta name="description" content="work in progress...">
  <meta name="og:description" content="work in progress...">
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
<div class="container-fluid bg-custom-yellow-1 custom-pt-1">
  <img src="/static/images/landing/clouds_group.png" alt="background cloud" class="custom-img-position-1 custom-img-size-1 custom-img-index-1 custom-img-opacity-1">
  <img src="/static/images/cards/changefunders_card1.png" class="img-fluid img-thumbnail rounded-circle mx-auto d-block shadow-lg custom-max-width-2 custom-img-index-2 custom-img-position-2" alt="donator proof">
  <img src="/static/images/landing/clouds_group_backwards.png" alt="background cloud" class="custom-img-position-3 custom-img-size-1 custom-img-index-1 custom-img-opacity-1">
  <div class="container custom-mt-1 custom-max-width-1 text-center mx-auto">
    <h1 >Fund the change you want to see in the world first. Then complain.</h1>
    <p>There is all talk, then there is real talk.</p>
  </div>
</div>
{% endblock %}
<!-- ------------------------------------- content end ------------------------------------- -->