{% extends "aaa_base/base2_child1_not_signed_in_yes_navbar_and_footer.html" %}

<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>Landing Page - ChangeFunders</title>
  <meta name="description" content="work in progress...">
  <meta name="og:description" content="work in progress...">
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
<div class="container-fluid bg-custom-yellow-1 py-5">
  <img src="/static/images/cards/changefunders_card2.png" class="img-fluid img-thumbnail rounded-circle mx-auto d-block shadow-lg" alt="donation membership">
</div>
{% endblock %}
<!-- ------------------------------------- content end ------------------------------------- -->