{% extends "aaa_base/base2_child1_signed_in_yes_navbar_and_footer.html" %}

<!-- ------------------------------------- title start ------------------------------------- -->
{% block title %}
  <title>Account - ChangeFunders</title>
  <meta name="description" content="work in progress...">
  <meta name="og:description" content="work in progress...">
{% endblock %}
<!-- ------------------------------------- title end ------------------------------------- -->
<!-- ------------------------------------- content start ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
<div class="container custom-mt-4 shadow-lg custom-border-radius-1 custom-max-width-5">
  <div class="text-center custom-pt-4 custom-pb-3">
    <h1 class="custom-header-2">Account</h1>
  </div>
</div>
{% endblock %}
<!-- ------------------------------------- content end ------------------------------------- -->